<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celestial Scan</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Connexion</h1>

    <form action="/auth/login" method="POST" class="signup-form">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required placeholder="exemple@mail.com">
      
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required placeholder="Votre mot de passe">
      
      
        <button type="submit">Se connecter</button>
      </form>
</body>
</html>